<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>This site is for anyone who could use some friendly tips & tricks.</p>
        <p>I’ve been a consultant for years, and one of my favorite thing is to build one pagers that provide comprehensive information in one glance.</p>
        <p>Most one pagers I see are just 10 pagers crammed into 1 page. You’ll find straightforward and actionable overviews and guides for a variety of professional and personal topics.</p>
      </div>
        </a>
      </div>
    </div>
  </div>
</section>
