<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <center>
        <p>
          Welcome,
          <br>
          <br>
          I made these One Pagers to capture learnings from years of working as a consultant and expat. 
          I enjoyed making “best practices” and “lessons learned” one-pages for myself as references, but figured 
          others could find these useful too. 
          <br>
          <br>
          My goal is that some young professional out there will realize 
          they’re not alone, and that figuring out how to be a good consultant, project manager, (or manage your 
          time) isn’t as easy as your asshole middle manager or boss might say. 
          <br>
          <br> 
          I hope this helps in some small way..
        </p>
      </center>
    </div>
  </div>
</section>
